* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem ;
    color:rgb(217, 114, 29)
}
h1{
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
li{
    padding: 5px 0;
}
li a {
    border: 2px solid red;
    margin: 2rem;
    padding: 0 3rem;
    text-decoration: none;
    color:rgb(217, 114, 29);
    
}

/* label style */
p{
    display:table-row;
}
label {
    display: table-cell;
}
input {
    display: table-cell;
}
#fred{
    height: 350px;
    width: 350px;
}

/* homework section css */

form {
    display:flex;
    flex-direction:column
}
/* homework 3 css */
/* label{
    padding-top:5rem;
} */
.sellerName{
    margin: 5rem;
}
.paragrapgh{
    padding:2rem;
}